html {
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch !important;
    width: -webkit-fill-available;
    /* iOS velocity scrolling */
}

@font-face {
    font-family: FF Mark Pro;
    src: url('../fonts/ff-regular.woff') format('woff');
}

html {
    font-family: FF Mark Pro !important;
    cursor: url('../images/cursor.png'), auto;
}

.vision-card {
    width: auto;
    height: 120px !important;
    border-radius: 30px;
}

.vision-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: #FFF;
    color: #000;
    z-index: 999999;
    transition: .2s ease-in-out 0s;
}

.vision-card-sm {
    box-sizing: border-box;
    width: 69px;
    height: 62px;
    border-radius: 25px;
}

.rounded-left-corner {
    border-radius: 40px 0px 0px 40px;
}

.time-card {
    height: 215px !important;
    width: auto;
}

.end-meeting {
    background-color: red;
}

.meeting-page {
    background-color: #F6F6F6;
}

.device-input-icon-wrapper .ch-control-bar-item-iconButton {
    border-radius: 40px;
    background-color: #fff;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    margin-left: 13px;
    color: #053F64;
}

.device-input-icon-wrapper {
    display: contents !important;
}

.meeting-topbar {
    height: 80px;
    position: absolute;
    width: 100%;
}

.online-icon img {
    position: absolute;
    right: 146.1px;
    top: 59.099999999999994px;
}

.back-icon {
    width: 11px;
    position: absolute;
    top: 16px;
    left: 10px;
}

.topbar-initials {
    position: absolute;
    width: 163px;
    height: 20px;
    font-family: 'FF Mark Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #053F64;
    right: 47px;
    top: 16px;
}

.back-to-home {
    /* position: absolute; */
    width: 205px;
    height: 43px;
    /* left: 28px;
    top: 34px; */
    background: #fff;
    border-radius: 14px;
}

.device-icon-wrapper {
    background-color: #fff !important;
    border: #fff !important;
    height: 100% !important;
    padding: 19px;
    position: relative !important;
}

.running-cham {
    height: 260px !important;
    margin-top: 3px;
    /* margin-left: 30px; */
}

.end-input-icon-wrapper .ch-control-bar-item-iconButton {
    width: 64px;
    height: 64px;
    background: #EB311B;
    border-radius: 15px;
    color: #fff;
    margin: 17px;
    cursor: pointer;
}

.icon-control {
    width: 26px;
    color: #053F64;
    cursor: pointer;
}

.ch-control-bar-item-iconButton:hover {
    background: transparent!important;
}

.ch-control-bar-item-iconButton:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0px !important;
}


/* .ch-control-bar-item-caret {
    position: relative !important;
    left:0px;
    padding-left:1px !important
} */

.profile-topbar {
    margin-top: 30px;
    margin-right: 19px;
}

.topbar-logo {
    margin-top: 17px !important;
}

.topbar-logo img {
    height: 69px;
    width: auto
}

.khfuPf {
    margin: 0px !important;
    display: contents !important;
}

.khfuPf> :first-child {
    margin: 2px !important;
}

.video-grid-vision {
    border-radius: 15px;
    width: auto !important;
    height: 100% !important;
    /* margin: -15px 17px 17px 17px; */
}

.video-grid-vision-mobile div:first-child {
    border-radius: 10px !important;
    width: 97%;
    height: auto;
    bottom: auto;
    display: flex;
    top: 21px;
    left: 6px;
}

.chatbox-wrapper {
    overflow: scroll;
    background: #fff;
    border-radius: 15px;
    margin-top: -15px;
    padding-top: 54px;
    padding-left: 15px;
    padding-bottom: 15px;
    height: 100%;
    margin-right: 15px;
}

.chatbox-wrapper aside {
    background: #fff !important;
    /* border-left: none !important;
    border-right: none !important; */
    box-shadow: none !important;
}

.chatbox-wrapper-no-border aside {
    border-left: none !important;
    border-right: none !important;
}

.message-input-container {
    position: absolute;
    width: 83%;
    z-index: 20;
    bottom: -26px;
}

.vision-tab {
    height: 100%;
    margin-top: -24px;
    position: relative;
    width: 100%;
}

.tab-select.active {
    color: #063f64;
    font-weight: bold;
    text-decoration: underline;
}

.tab-header {
    position: relative;
    left: 18px;
    top: 19px;
    z-index: 20;
}


/* emoji */

.input-wrapper-emoji {
    background: #fff;
}

aside.emoji-picker-react {
    z-index: 999;
    position: absolute !important;
    top: -318px;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 36px;
}

.messaging-container {
    min-height: 407px;
}

.message-input-form {
    flex: auto;
}


/* Modal css */

.invite-modal {
    z-index: 999 !important;
}

.tab-contact {
    position: relative;
    top: 94.3px;
}

.react-multi-email {
    flex: none !important;
    width: 403px;
    height: auto;
    background: #ECECEC !important;
    border: 1px solid #E0E0E0 !important;
    border-radius: 15px !important;
}

.invite-modal section {
    width: 691px !important;
    height: 473px !important;
    background: #FFFFFF !important;
    border-radius: 30px !important;
}

.invite-modal .ch-title {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    padding-right: 0px !important;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #053F64;
}

.modal-top {
    z-index: 9999;
}

.react-multi-email>input:active {
    background: #ECECEC;
    border: 1px solid #E0E0E0;
}

.react-multi-email>input {
    background: #ececec !important;
    padding-top: 13px !important;
    padding-left: 10px !important;
}

.no-border {
    border-top-width: 0px !important;
}

.send-invite-btn {
    width: 135px;
    height: 50px !important;
    background-color: #053F64 !important;
    border-radius: 12px !important;
}

.invite-btn-wrapper button {
    color: #fff !important;
}

.invite-btn-wrapper {
    width: 380px;
    height: 67px;
    padding-left: 251px;
}

.invite-modal .contact-list {
    padding-left: 55px;
    padding-right: 55px;
}

.invite-sm-message {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
    width: 380px;
    height: 67px;
}

.react-multi-email [data-tag] {
    background-color: #fff !important;
}

.react-multi-email.focused {
    background: #ececec !important;
}

.react-multi-email.empty>span[data-placeholder] {
    display: inline;
    color: black !important;
    background: #ececec;
    border: none !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 0px !important;
    left: 24px;
}

.table-fixed {
    width: 100%;
    text-align: left;
    text-align: center;
}

.table-fixed tr {
    height: 50px;
    font-weight: bold;
    font-size: 14px;
}

.vision-btn {
    background-color: #063f64 !important;
    width: 135px;
    height: 50px;
}

.bg-time {
    background-image: url('../images/bg-time.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 62%;
    color: black;
}


/* .bg-vision-blue {
    background-color: #053F64 !important;
}

.bg-vision-lightblue {
    background-color: #084D79 !important;
    border: 1px solid #0B5A8C !important;
}

.bg-vision-yellow {
    background-color: #053F64 !important;
}

.bg-vision-green {
    background-color: #01798A !important;
}

.bg-vision-lightgreen {
    background-color: #008C8C !important;
    border: 1px solid #009999 !important;
}

.bg-vision-orange {
    background-color: #F7BA49 !important;
} */

.bg-vision-sky {
    background-color: #007AD9 !important;
}

.bg-vision-green {
    background-color: #01798A !important;
}

.bg-vision-yellow {
    background-color: #FFB630 !important;
}

.bg-vision-red {
    background-color: #FF6355 !important;
}

.add-people span {
    display: inline-block;
    margin-left: 3px;
}

.add-people img {
    width: 15px;
    margin: 4px;
    height: 15px;
}

.invite-modal-body {
    margin-bottom: 40px;
}

.meeting-list-wrapper {
    height: 431px;
    /* overflow-y: scroll; */
    margin-top: 13px;
    width: auto;
    background: #e5ebef;
    border-radius: 20px;
}

.meeting-list-bg {
    padding: 20px;
    background: #E5EBF0;
    border-radius: 30px;
    overflow-y: scroll;
    height: 100vh;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}


/* home */

.home-card-wrapper {
    height: 400px;
}

.home-time-card {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.v-ui-button {
    /* width: 147px !important; */
    height: 50px !important;
    background: #053F64;
    border-radius: 12px !important;
}

.home-avatar-input {
    width: 50px !important;
    height: 50px;
    background: #ECECEC;
    border: 1px solid #C4C4C4;
    border-radius: 12px !important;
}

.home-id-input {
    width: 120px !important;
    height: 50px;
    background: #ECECEC;
    border: 1px solid #C4C4C4;
    border-radius: 12px !important;
}

.home-dropdown-cog {
    padding-left: 13px;
    width: 54px !important;
    height: 27px;
    background: #ffff;
    border-radius: 10px !important;
}


/* metings */

.meeting-card:first-child {
    border-radius: 30px 30px 0px 0px;
}

.meeting-card {
    height: 215px;
    padding: 25px;
    background: #EDF3F8;
    border: 1px solid #F9FCFF;
    border-radius: 15px;
}

.meeting-card h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #053F64;
}

.meeting-schedule .meeting-form {
    height: 70vh;
    overflow-y: scroll;
    padding: 13px;
}


/* calendar */

.fc-daygrid-event {
    background: rgba(42, 168, 242, 0.15);
    color: #fff;
    border: 1px solid #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #053F64;
    border: 1px solid #2AA8F2;
    border-radius: 10px;
}

.fc-v-event {
    background: rgba(42, 168, 242, 0.15);
    color: #fff;
    border: 1px solid #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #053F64;
    border: 1px solid #2AA8F2;
    border-radius: 10px;
    height: 100px;
}

.fc-daygrid-dot-event:hover,
.fc-daygrid-dot-event.fc-event-mirror {
    background: #26a4ec;
}

.rdw-editor-main {
    height: 250px;
}

.fc-daygrid-event-dot {
    display: none;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-right: 2px;
    padding-left: 11px;
    height: 166px;
}

.calendar-text-title {
    font-family: 'FF Mark Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #053F64;
}

.calendar-text-time {
    position: absolute;
    bottom: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    color: #053F64;
}

.fc-daygrid-dot-event {
    display: block;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    white-space: initial;
    padding-top: 17px;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background: #2AA8F2 !important;
    box-shadow: 0px 15px 15px rgb(0 0 0 / 5%) !important;
    border-radius: 10px !important;
    border: none !important;
    color: #fff !important;
}

.fc .fc-button-primary:not(:disabled) {
    background: transparent !important;
    border: none !important;
    color: #747474 !important;
}

.fc-popover-body {
    overflow-y: scroll;
    height: 300px;
}

.record-icon {
    width: 20px;
}

.vision-recording {
    border: 8px solid #FF6355 !important;
    border-radius: 30px;
}

.record-meeting-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 95%;
    top: 0;
    left: 0;
    background: rgba(2, 2, 2, 0.7);
    margin: -15px 0px 0px 21px;
    border-radius: 16px;
    z-index: 9999;
    text-align: center;
    padding-top: 15%;
}

.record-meeting-loader .label {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.record-meeting-loader .num {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 98px;
    line-height: 124px;
    color: #FFFFFF;
    display: block;
}

.record-meeting-loader img {
    margin: 0px auto;
}


/* .amplify-tabs {
    color: black;
} */

.amplify-tabs-item {
    color: #C4C4C4;
    ;
}

.amplify-tabs-item[data-state='active'] {
    color: #053F64;
}


/* Placeholder CSS Designs */

.placeholder-local-styles {
    --amplify-components-placeholder-start-color: #053F64;
    --amplify-components-placeholder-end-color: #C4C4C4;
}

.full-screen-modal {
    transition: opacity 0.25s ease;
}

body.full-screen-modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}


/* Modal Animation */

.fade-in-modal-mobile {
    animation: opac .5s;
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.caption-style {
    position: absolute;
    z-index: 998;
    bottom: 59.099999999999994px;
    left: 82.6px;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 11px;
    background: #063f64cc;
    color: #fff;
}

.center-open-modal-mobile {
    animation: center-open .5s;
}

@keyframes center-open {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.center-close-modal-mobile {
    animation: center-close .5s;
}

@keyframes center-close {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.remove-video-tile {
    object-fit: contain;
    height: 200px !important;
    background: transparent !important;
}

.remove-video-tile video {
    border-radius: 10px;
}

.videos-wrap-100 {
    height: 100%;
}

.videos-wrap-70 {
    height: 70%;
}

.videos-wrap {
    position: relative;
    overflow-y: scroll;
    padding-bottom: 100px;
    padding-top: 20px;
    background: #ccc;
    padding-left: 7px;
}

.video-tile-wrap {
    float: left;
    position: relative;
}

.content-wrap {
    padding: 10px;
}

.content-wrap video {
    border-radius: 10px;
}

.mobile-bg {
    background: #ccc;
}

.progress-cham {
    position: relative;
    margin-top: -336.8px;
    height: 13px;
    width: 217px;
    border: 1px solid grey;
    margin-left: -19px;
    border-radius: 10px;
}

progress[value]::-webkit-progress-value {
    background-image: linear-gradient(100deg, #FF6355 0%, #FBA949 8.45%, #FAE442 15.02%, #8BD448 21.59%, #2AA8F2 30.04%, #053F64 50.69%);
    border-radius: 2px;
    background-clip: padding-box;
}

.amplify-image-vision {
    width: 100%;
    height: auto;
    margin-bottom: 11px;
}

.amplify-heading-vision {
    margin: 26px 17px 22px;
}

.amplify-button-vision {
    background-color: #053F64 !important;
}

.gap-y-5 {
    row-gap: 3px;
}

.pyramid-dashbard-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.pyramid-dashbard-wrapper .img {
    width: 158.07px;
    height: 146.25px;
}

.latest-news {
    background-color: #F7F7F7;
    margin-top: 70px;
}

.dashboard-header {
    color: #053F64;
}

.daily-weekly {
    font-size: 22px;
    font-weight: 700px;
    color: #053F64;
}

.daily-weekly .active {
    border-color: #053F64;
}

.daily-weekly {
    width: 270px;
}

.pricing__card--wrap {
    width: 100%;
    height: auto;
    position: relative;
}

.pricing__card--label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 20px;
    background: linear-gradient(90deg, #FF6355 -0.77%, #FBA949 8.3%, #FAE442 15.35%, #8BD448 22.41%, #2AA8F2 31.48%, #053F64 53.65%);
    box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.05);
    border-radius: 12px 12px 0px 0px;
}

.pricing__card--label h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF; 
}

.pricing__card {
    position: relative;
    width: 100%;
    min-height: 610px;
    padding: 20px 32px;
    background: #FFFFFF;
    box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.pricing__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #010101;
}

.pricing__card--title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #053F64;
}

.pricing__card--sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #F7941D;
}

.pricing__card--list li {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.pricing__card--list {
    list-style: inside !important;
}

.pricing__card--button {
    height: 55px;
    width: 100%;
    text-align: center;
    background: #2378BB;
    box-shadow: 0px 20px 25px -25px rgba(253, 213, 79, 0.35);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
