.v-modal {
    background-color: rgba(125,129,139,0.5) !important;
}

.v-modal section {
    border-radius: 1rem !important;
    padding: 3rem !important;
}

.v-modal section > header, .v-modal section > div {
    padding: 0 !important;
}